* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.create {
    /* position: relative; */
    width: 100%;
    height: 100%;
    padding: 8px;
    background: conic-gradient(from -27.5deg at 22.3% 14.26%, rgba(145, 184, 243, 0.612829) -169.09deg, #91B8F3 152.82deg, rgba(145, 184, 243, 0) 174.35deg, rgba(145, 184, 243, 0.612829) 190.91deg, #91B8F3 512.82deg);
}
.header-text{
/* position: absolute; */
height: 60px;
left: 540px;
top: 139px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
/* identical to box height */
color: #FFFFFF;
}

.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    height: 600px;
    margin: 0 auto;
    top: 100px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #213861;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signup-txt-flds{
      position: relative;
      top: 92px;
}
.form {

    /* position: absolute; */
    width: 100%;
    max-width: 614px;
    height: 522px;
    left: 93px;
    top: 139px;
    padding: 12px;

}

.input-field1 {
    /* display: flex;
justify-content: space-between;
gap: 30px */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 100%;
    /* height: 80px; */


    /* Inside auto layout */

    /* flex: none;
order: 0;
flex-grow: 0; */
}

.input-field2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 100%;
    /* height: 81px; */
}

.input-field1 .txt-field,
.input-field2 .txt-field,
.input-field3 .txt-field {
    max-width: 100%;
    margin: 8px 0;
}

.input-field3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 100%;
    /* height: 80px; */


    /* Inside auto layout */

    /* flex: none;
order: 2;
flex-grow: 0; */
}
.signup-btn{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
position: absolute;
max-width: 100%;
width: 250px;
height: 50px;
left: 40em;
top: 71%;
border-radius: none;
color: white;
background: #4E789E;
}
.end .signinlink{
 color: #4E789E;
 text-decoration: none;
 display: flex;
flex-direction: row;
top: -1.5em;
font-size: 15px;
margin-left: -27.5em;
}
.already{
position: relative;
margin-top: 13em;
font-size: 14px;
margin-left: 82px;

}
.end{
    /* position: absolute; */
width: 289px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;
}
@media (max-width: 680px) {

    .input-field1,
    .input-field2,
    .input-field3 {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}