* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.create {
    /* position: relative; */
    width: 100%;
    height: 100%;
    padding: 8px;
    background: conic-gradient(from -27.5deg at 22.3% 14.26%, rgba(145, 184, 243, 0.612829) -169.09deg, #91B8F3 152.82deg, rgba(145, 184, 243, 0) 174.35deg, rgba(145, 184, 243, 0.612829) 190.91deg, #91B8F3 512.82deg);
}
.header-text{
/* position: absolute; */
height: 60px;
left: 540px;
top: 139px;
font-family: 'Poppins';
font-style: normal;
font-size: 22px;
/* identical to box height */
color: #FFFFFF;
}

.container {
    box-sizing: border-box;

    width: 100%;
    max-width: 500px;
    /* height: 600px; */
    margin: 0 auto;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #213861;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.signup-form {

    /* position: absolute; */
    width: 100%;
    height: 522px;
    /* left: 93px;
    top: 139px; */
    padding: 12px;
    display: flex;
    flex-direction: column;

}
.signup-form .txt-field {
    margin: 8px 0;
}

.singup-inputs-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 100%;
    position: relative;
}
.singup-inputs-group .txt-field{
    width: 100%;
    min-width: none;
}


.signup-btn{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
max-width: 100%;
width: 250px;
height: 50px;
background: #4E789E;
}
.end{
    /* position: absolute; */
width: 289px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;
}


/* .header-text {
    margin-bottom: 100px;
}


.input-fieldEmail input{
    position: relative;
    padding: 10px -10px;
   
}
.signup-btn{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 250px;
height: 50px;
left: 575px;
top: 574px;

background: #4E789E;
} */

@media (max-width: 680px) {

    .singup-inputs-group  {
        flex-direction: column;
    }
}