* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.create {
    position: fixed;
    box-sizing: none;
    right: 1px;
    top: 1px;
    border: none;
    width: 1680px;
    height: 693px;
    background: conic-gradient(from -27.5deg at 22.3% 14.26%, rgba(145, 184, 243, 0.612829) -169.09deg, #91B8F3 152.82deg, rgba(145, 184, 243, 0) 174.35deg, rgba(145, 184, 243, 0.612829) 190.91deg, #91B8F3 512.82deg);
}
.header-text{
height: 60px;
left: 20px;
bottom: 52px;
position: relative;
font-family: 'Poppins';
font-style: normal;
font-size: 29px;
color: #FFFFFF;
}
.email-pass{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 44px;
    width: 100%;
    position: relative;
}
.container {
    box-sizing: border-box;
    max-width: 800px;
    margin: 90px auto;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #213861;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 92px;
    position: relative;
    justify-content: center;
}
.signup-form {
    width:76%;
    height: 430px;
    padding: 69px 2px;
    display: flex;
    margin-left: 92px;
    position: relative;
    flex-direction: column;
    margin: 40px auto;
}
.signup-form .txt-field {
    margin: 8px 0;
}

.singup-inputs-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 44px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.singup-inputs-groups {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 44px;
    margin-top: 20px;
    width: 100%;
    position: relative;
}
.singup-inputs-group .txt-field{
    width: 100%;
    min-width: none;
}
.signup-btn{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
max-width: 100%;
width: 200px;
height: 150px;
color: white;
margin-left: 212px;
margin-top: 25px;
font-weight: 700;
background: #4E789E;
}
.end{
font-style: normal;
font-size: 18px;
line-height: 29px; 
color: white;
display: flex;
left: 186px;
position: relative;
gap: 6px;
}
.end a{
color: #8fb0de;
font-weight: 700;
font-size: 18px;
}
@media (max-width: 680px) {

    .singup-inputs-group  {
        flex-direction: column;
    }
}