*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
html, body{
    border: none;
    background-color: inherit;
    background-color: #ADC9F4;
}
/* .pass{
position: relative;
top: 1px;
} */
.login-form{
    position: fixed; 
   background-color: #071746;
    width:  55%;
   height: 530px;
   left: 22em;
   top: 5em;
   border: 2PX solid black;
} 
.txt-field-login{
    height: 40px;
    width: 80%;
    position: relative;
    margin: 32px 0;
    color: white;
    left: 5em;
    top: 8em;
    border: none;
}
.txt-field-login input{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 10px;
    background-color: none;
    background-color: inherit;
    border: none;
    outline: none;
    background-color: #1e3861;
}
.txt-field-login input:valid ~ span.error-text{
    display: none;
}
.txt-field-login input:not(:valid) ~ span.helper-text{
    display: none;
}
.txt-field-login input:not(:valid) ~ span.error-text{
    color: red;
   font-size: 12px;
   font-weight: 300;
  
}
.email .txt-field-login input ~ span.helper-text{
    font-size: 17px;
    position: relative;
    color: white;
    margin-right: 28em;
    top: 85px;
   font-weight: 500;
  }
.txt-field-login label{
    position: absolute;
    top: 50%;
    left: 19px;
    color: white;
    background-color: #143464;
    font-size: 16px;
    font-weight: 400;
    transform: translateY(-50%);
    background-color: inherit;
    background-color: none;
    transition: all 0.1s cubic-bezier(0, 0, 0.3, 1);
}
a{
    text-decoration: none;
    color: #465d80;
    position: relative;
    left: 45.7em;
    top: 5.5em;
    font-weight: 800;
    font-size: 13px;
}
.passli{
    position: relative;
    color: #3e5372;
    left: 17.5em;
    top: 10em; 
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
  }

.dont{
    color: white;
    position: relative; 
    font-size: 13px;
    left: 37.6em;
    top: 6.8em;
}
 /* Variants */
.txt-field.two input{
    color: white;
    /* background-color: #787d8d; */
}
.txt-field.two input:focus{
    border: none;
    background-color: white;
}
 /* .txt-field.one label{
    padding: 8px;
}  */
.txt-field.two  input:focus ~ label, .one.not-empty label{
    top: 3px;
    color: #4b5063;
    font-size: 12px;
    left: 14px;
    background-color: white;
}
.txt-field.two input{
    padding-bottom: 0;
    padding-top: 22px;
    
}
.txt-field.two input:focus ~ label, .two.not-empty label{
    top: 14px;
    color: #4b5063;

}
.login{
    position: fixed;
    color: white;
    font-size: 28px;
    left: 25em;
    top: 5em;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.line3{
    height: 1px;
    width: 106px;
    background-color: white;
    position: relative;
    top: 7.7em;
    left: 22em;
}
svg{
  fill: white;
  height: 40px;
  width: 40px;
  position: relative;
  left: 13.5em;
  bottom: 60PX;
}
.btn{
    position: fixed;
    margin-left: -11em;
    margin-top: 9em;
    font-family: sans-serif;
}
.fil{
    position: fixed;
    background: #48699e;
    font-weight: 400;
    color: #f6fafd;
    border-radius: 1px;
    font-size: large;
    padding: 9px 70px;
    border: none;
    font-weight: 700;
    margin-left: 26em;
    margin-top: 4em;
}
.fil:hover {
background-color: white;
padding: 9px 69px;
color: #3a5b8b;
}









