
.outlined, .filled{
  background-color: white ;
  
}
.outlined, .filled, input{
    padding: 20px;
    border: none;
    color: black;
   
}


.filled input{
    border: 1px solid #6e6c6c;
    background-color: transparent;
    border-radius: 3px;
}
.outlined input{
 
    border-bottom: 1px solid rgb(110, 108, 108);
    background-color: rgb(248, 243, 243);
   
}
 
