*{
    margin:0 ;
    box-sizing: border-box;
    font-family: "CustomFont";
    /* background-color: rgb(198, 198, 248); */

}


.page{
    height: 150vh;
    width: 160%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Email{
    background-color: rgb(198, 198, 248);
    background-size: 50%;
    width:60em;
    height: 30em;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.input:focus{
    outline-color:rgb(32,177,255);

}
.Email input{
     background-color:  #2E4B73;
     position: relative;
     right: 30%;
     color: white;
     top: 40%;
     font-size: 20px;
     

}
.confirm{
    position: relative;
    top: 50%;
    right: 530px;
    color: white;
    background:  #2E4B73;
    font-weight: bold;
    border-radius: 0;
  
 
}
.Email h1{
    color: white;
    font-size: 30px;
    right: 50px;
    top: 2em;
    position: relative;
}
.Email .no{
    color: white;
    font-size: 30px;
    position: relative ;
    top: 3em;
    float:left ;
    left: 285px;
    line-height: 70%;
   
}
.Email .thr{
    color: white;
    font-size: 30px;
position: relative ;
line-height: 10%;
float: left;
left: -8em;
top: 5em; 
}
