*{
    margin:0 ;
    box-sizing: border-box;
    font-family: "CustomFont";
    background-color: rgb(198, 198, 248);

}
@font-face{
    font-family: "CustomFont";
    src: url("../fonts/RolexLight.woff2");

}
.page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover{
    background-color: rgb(198, 198, 248);
    width:em;
    height: 15em;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.input:focus{
    outline-color:rgb(32,177,255);

}
.cover input{
     background-color:  #2E4B73;
     position: relative;
     right: 68px;
     color: white;
     

}
.confirm{
    position: relative;
    right: 105px;
    color: white;
  background:  #2E4B73;
  font-weight: bold;
  border-radius: 0;
  
 
}
.cover h1{
    color: white;
    font-size: 30px;
    right: 11px;
    position: relative;
}
.cover .no{
    color: white;
    font-size: 20px;
position: relative ;
left: 20px;
line-height: 70%;

float: left;
}
.cover .thr{
    color: white;
    font-size: 20px;
position: relative ;
line-height: 70%;
right: 82px;
float: left; 
}
