.txt-field{
    height: 56px;
    min-width: 260px;
    width: 100%;
    max-width: 500px;
    position: relative;
    margin: 32px 0;
    background-color: inherit;
   
}
.txt-field *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{

    /* background-color: aliceblue; */
    background-color: inherit;
}
.txt-field input{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 10px;
    background-color: inherit;
    border: none;
    outline: none;

}
.txt-field input:valid ~ span.error-text{
    display: none;
}
.txt-field input:not(:valid) ~ span.helper-text{
    display: none;
}
.txt-field input:not(:valid) ~ span.error-text{
    color: red;
}
.txt-field label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: inherit;
    transition: all 0.1s cubic-bezier(0, 0, 0.3, 1);


}
.txt-field span{
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 10px
}

/** Variants */
/* .txt-field.one { */
    /* background-color: #3a3a3a;   */
/* } */

.txt-field.one input{
    border: 1px solid beige;
    border-radius: 0px;
    
}
.txt-field.one label{
    padding: 8px;
    background-color: none;
}
.txt-field.one input:focus ~ label, .one.not-empty label{
    top: 0;
}

.txt-field.two{
    /* border-bottom: 1px solid beige; */
    background: #4E789E;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
}
.txt-field.two input{
    padding-bottom: 0;
    padding-top: 22px;
}
.txt-field.two input:focus ~ label, .two.not-empty label{
    top: 14px;
}
.txt-field.three{
   border-bottom: 1px solid beige; 
   /* background-color: #3a3a3a; */
}
.txt-field.three input{
    padding-bottom: 0;
    padding-top: 22px;
}
.txt-field.three input:focus ~ label, .three.not-empty label{
    top: 14px;
}