
*{
margin: 0;
padding: 0;
box-sizing: border-box;
box-shadow: none;
}
html, body{
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 
 
}
.dyn{
        position: fixed;
        font-weight: 700;
        font-size: 26px;
        left: 4.3em;
        top: 32px;
        color: #fff;
}
.hom-svg{
    width: 26px;
    height: 20px;
    position: fixed;
    left: 2.8em;
    top: 92px;
    fill: white;
}.logo-svg{
    width: 40px;
    height: 40px; 
    position: fixed;
    right: 89em;
    top: 24px;
    fill: white;
}
.chartgraph-svg{
    width: 20%;
    height: 20%;
    position: fixed;
    right: 29em;
}
.language-selector{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
} 
.lang-sele{
    background-color: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 39em;
}
.line2{
width: 208px;
height: 1px;
top: 402px;
left: 5px;
justify-content: center;
align-items: center;
display: flex;
position: fixed;
background-color: rgb(164, 162, 162);
}
.dashb{
    max-width: 900px;
    height: 200px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.menu-sgvs{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: fixed;
top: 2em;
}
.logout-svg{
    width: 22px;
    height: 22px;
    position: fixed;
    top: 30.4em;
    left:  50px;
    fill: white;
}
.help-svg{
    width: 22px;
    height: 22px;
    position: fixed;
    top: 27.7em;
    left: 50px;
    fill: white;
}
.financial-svg{
    width: 22px;
    height: 22px;
    position: fixed;
    top: 15em;
    left: 50px;
    fill: white;
}
.plot-svg{
    width: 24px;
    height: 24px;
    position: fixed;
    top:11.9em;
    left: 50px;
    fill: white;
}
.plot{
    width: 24px;
    height: 24px;
    position: fixed;
    top:21.6em;
    left: 50px;
    fill: white;
}
.equal-svg{
    width: 22px;
    height: 22px;
    position: fixed;
    top: 18.1em;
    left: 50px;
    fill: white;
}
.user-svg{
    width: 22px;
    height: 22px;
    position: fixed;
    top: 9em;
    left: 50px;
    fill: white;
}
.time-svg{
    width: 20px;
    height: 20px;
    position: fixed;
    top: 21.8em;
    left: 50px;
    fill: white;
}
.time1-svg{
    width: 12px;
    height: 12px;
    position: fixed;
    left: 24.7em;
    bottom: 12.4em;
    fill: white;
}
.time2-svg{
    width: 12px;
    height: 12px;
    position: fixed;
    left: 24.7em;
    bottom: 9.2em; 
    fill: white;
}
.time3-svg{
    width: 12px;
    height: 12px;
    position: fixed;
    left: 24.7em;
    bottom: 6.2em;
    fill: white;
}
.menu{
    background-color: #071746;
    width: 259px;
    height: 1190px;
    position: relative;
    right: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu li{
    list-style: none;
    padding: 15px, 90px;
    transition:  0.3s ease;
    left: 60px;
    top: 110PX;
}
.menu .items li :hover{
    /* background-color: #d5d5da; */
    cursor: pointer;
}
.menu .items li:nth-child(1){
    position: relative;
}
.menu .items li:nth-child(2){
    position: relative;
    top: 130px;
    left: 74px;
}
.menu .items li:nth-child(3){
    position: relative;
    top:147px;
    left: 84px
}
.menu .items li:nth-child(4){
    position: relative;
    top: 170px;
    left: 4em;
}
.menu .items li:nth-child(5){
    position: relative;
    top: 189px; 
    left: 4em; 
}
.menu .items li:nth-child(6){
    position: relative;
    top: 214px;
    left: 3.4em;
}
.menu .items li:nth-child(7){
    position: relative;
    top: 280px;
    left: 3.3em;
}
.menu .items li:nth-child(8){
    position: relative;
    top: 295px;
    left: 60px;
}
.menu .items li:hover a{
          color:#4747da;
}
.menu .items li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300px;
    width: 100%;
    height: 100%;
    font-size: 14px; 
    text-align: center;
    line-height: 30px;
    margin: 0 10px 0 25px;
    transition:  0.3s ease;
}
.circle2{
box-sizing: border-box;
position: relative;
display: flex;
flex-direction: row;
align-items: center;
display: flex;
flex-direction: row;
align-items: center;
border: 5px solid rgb(201, 16, 16);
width: 40px;
border-radius: 20px;
border-left: 5px solid rgb(201, 192, 192);
height: 40px;
left: 265px;
bottom: 70px;
background: #FFFFFF;
}
.circle3{
box-sizing: border-box;
position: relative;
border: 5px solid rgb(201, 16, 16);
width: 50px;
border-radius: 20px;
border-left: 5px solid rgb(201, 192, 192);
height: 50px;
left: 740px;
bottom: 85px;
background: #FFFFFF;
}
.circle1{
    box-sizing: border-box;
    position: relative;
    border: 5px solid rgb(248, 123, 21);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40px;
    border-radius: 20px;
    border-left: 5px solid rgb(201, 192, 192);
    height: 40px;
    left: 270px;
    bottom: 68px;
    background: #FFFFFF;
    }
    .circle4{
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 5px solid rgb(248, 123, 21);
        width: 38px;
        border-radius: 20px;
        border-left: 5px solid rgb(201, 192, 192);
        height: 38px;
        left: 270px;
        bottom: 68px;
        background: #FFFFFF;
        }
.interf-section{
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.interface{
  position: relative; 
  bottom: 5.6em;
  right: 22.9em;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.interface .navigation {
    position: fixed;
    width: calc(100% - 200px);
    left: 13.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #071746;
    padding: 29px 30px;
}
 .interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 196px;
    position: relative;
    left: 4.5em;
    width: 448px;
    height: 31px;
    border-radius: 50px;
    background-color: white;
    top: 15px;
    
}
.interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
    right: 175px;
    position: relative;
    font-weight: 500; 
    
}
.search-svg{
  width: 20px;
  height: 20px;
  position: relative;
  right: 180px;
  top: 2px;
}
.i-name{
    position: fixed;
    font-weight: 900;
    margin-top: 9em;
    left: 19em;
    font-size: 19px;
    color: rgb(15, 14, 14);
} 
.dashb-boxes{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  right:3em;
  top: 2em;
}
.dashb-boxes .dashb-box1{
    position: relative;
    top: 15.2em;
    left: 67px;
    background-color: #FFFFFF;
    width: 332px;
    height: 56px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgb(196, 192, 192);
}
.dashb-boxes .dashb-box1 .pm-cand{
    position: relative;
    right: 30em;
    bottom: 2em;
}
.dashb-boxes .dashb-box1 .num{
  font-size: 32px;
  font-weight: 700;
  position: relative;
  right: 4em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.dashb-boxes .dashb-box1 .pm{
    font-weight: 900;
    color: #000;
}
.dashb-boxes .dashb-box1 .cand{
    font-size: 15px;
    color: #000;
    position: relative;
    left: 29.7em;
}
  .dashb-boxes .dashb-box2{
      position: relative;
      top: 16.2em;
      left:67px;
      background-color: #FFFFFF;
      width: 332px;
      height: 56px;
      border-radius: 15px;
      box-shadow: 1px 1px 1px 1px rgb(196, 192, 192);
  }
  .dashb-boxes .dashb-box2 .pm-cand{
      position: relative;
      right: 30em;
      bottom: 2em;
  }
  .dashb-boxes .dashb-box2 .num{
    font-size: 32px;
    font-weight: 700;
    position: relative;
    right: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }
  .dashb-boxes .dashb-box2 .pm{
      font-weight: 900;
      color: #000;
      left: 31.5em;
  }
  .dashb-boxes .dashb-box2 .cand{
      font-size: 15px;
      color: #000;
      left: 29.6em;
  }
  .dashb-boxes .dashb-box3{
    position: relative;
    top: 8.2em;
    left: 420px;
    background-color: #FFFFFF;
    width: 332px;
    height: 56px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgb(196, 192, 192);
}
.dashb-boxes .dashb-box3 .pm-cand{
    position: relative;
    right: 31em;
    bottom: 2em;
}
.dashb-boxes .dashb-box3 .num{
  font-size: 32px;
  font-weight: 700;
  position: relative;
  right: 4em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.dashb-boxes .dashb-box3 .pm{
    font-weight: 900;
    color: #000;
    left: 31.8em;
}
.dashb-boxes .dashb-box3 .cand{
    font-size: 15px;
    color: #000;
}
.dashb-boxes .dashb-box4{
    position: relative;
    top: 9.2em;
    left: 424px;
    background-color: #FFFFFF;
    width: 332px;
    height: 56px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgb(196, 192, 192);
}
.dashb-boxes .dashb-box4 .pm-cand{
    position: relative;
    right: 31em;
    bottom: 2em;
}
.dashb-boxes .dashb-box4 .num{
  font-size: 32px;
  font-weight: 700;
  position: relative;
  right: 4em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.dashb-boxes .dashb-box4 .pm{
    font-weight: 900;
    color: #000;
    left: 32.5em;
}
.dashb-boxes .dashb-box4 .cand{
    font-size: 15px;
    color: #000;
    left: 30.8em;
}
.val-box5{
    background-color: white;
    width: 430px;
    height: 280px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 67px;
    top: 12.4em;
    line-height: 20px;
    box-shadow: 2px 2px 2px 2px rgb(208, 205, 205);
}
.remind{color: rgb(21, 21, 21);
    position: relative;
    right: 122px;
    bottom: 45px;
   font-size: 20px;
   }
   .search2{
       height: 18px;
       position: absolute;
       left: 23.8em;
       top: 0.8em;
       color: #444a53;
   }
   .box{
       display: flex;
       position: relative;
       left: 20px;
       bottom: 26px;
       height: 35px;
       width: 389px;
       border-radius: 8px;
       background-color: #e2dfdf;
   }
   .today{
      font-weight: bold;
      top: 4px;
      position: relative;
      left: 3px;
      background-color: white;
      width: 199px;
      border-radius: 6px;
      height: 28px;
      color: #000;
      font-weight: 900;
      align-items: center;
      justify-content: start;
   }
  
   .completed{
       position: relative;
       left: 80px;
       font-size: 18px;
       font-weight: 900;
       top: 8px;
       color: #000;
   }
   .time{
      position: relative;
      left: 40px;
   }
   .interview{
      position: relative;
     background-color: #f0f1f1;
     width: 390px;
     right: 22px;
      border-left: 9px solid orangered;
   }
   .senior{
       position: relative;
       top: 11px;
       right: 22px;
       background-color: #f0f1f1;
       width: 390px;
       border-left: 9px solid #091d58;
   }
   .meeting{
       position: relative;
       top: 20px;
       right: 22px;
       background-color: #f0f1f1;
       width: 390px;
       border-left: 9px solid purple;
   }
   .meeting p{
       position: relative;
       color: #000;
       left: -102px;
   }
   .senior p{
       position: relative;
       left: -102px;
       color: #000;
   }
   .interview p{
       position: relative;
       left: -102px;
       color: #000;
   } 
   .interview .hours{
      position: relative;
      left: -110px;
      color: rgb(179, 176, 176);
   }
   .senior  .hours{
       position: relative;
       left: -111px;
       color: rgb(179, 176, 176);
   }
   .meeting  .hours{
       position: relative;
       left: -111px;
      color: rgb(179, 176, 176);
   }
.val-box7{
    background-color: white;
    width: 232px;
    height: 285px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 17.09em;
    margin-left: 32.6em;
    line-height: 20px;
    box-shadow: 2px 2px 2px 2px rgb(220, 217, 217);

}
.val-box7 .chart{
   bottom: 7em;
   left: 20px;
   font-weight: 700;
   color: #000;
}
.fe-male{
position: relative;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
right: 38em;
}
.male{
top: 6em;
color: #000;
border-left: 6px solid rgb(185, 185, 251);
}
.female{
    top: 7em;
    color: #000;
    border-left: 6px solid rgb(250, 190, 130);
    }
    .percentages{
        position: relative;
        right: 30em;
        gap: 20px;
    }
    .twenty{
        color: #000;
        position: relative;
        right: 12em;
    }
    .seventy{
        color: #000;
        position: relative;
        right: 12em;
    }
.val-box6{
    width: 70px;
    height: 434px;
    left: 75em;
    bottom: 8em;
    position: fixed;
    background-color: #061647;
    align-items: center;
    display: flex;
    justify-content: center;
}
.box9{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}
.note{
    bottom: 4.8em;
    position: relative;
}
.folder{
    bottom: 2em;
    position: relative;
}
.set{
    top: 8em;
    position: relative;
}
.noti{
    bottom: 7.5em;
    position: relative;
}


