*{
    margin:0 ;
    box-sizing: border-box;
    font-family: "CustomFont";
    /* background-color: rgb(198, 198, 248); */

}
@font-face{
    font-family: "CustomFont";
    src: url("../fonts/RolexLight.woff2");

}
.page{
    height: 150vh;
    width: 160%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forget{
    background-color: rgb(198, 198, 248);
    background-size: 50%;
    width:60em;
    height: 30em;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.input:focus{
    outline-color:rgb(32,177,255);
    
    

}
.forget input{
     background-color:  #2E4B73;
     right: 2px;
}
.confirm{
position: relative;
top: 19%;
right: 313px;
color: white;
background:  #2E4B73;
font-weight: bold;
border-radius: 0;
 
}
.forget u{
color: white;
font-size: 30px;
right: 350px;
top: 1em;
position: relative;
}
.forget .no{
color: white;
font-size: 30px;
position: relative;
top: 3em;
left: 120px;
line-height: 70%;
float: left;
}
.forget .thr{
color: white;
font-size: 30px;
position: relative ;
line-height: 50%;
right: 70px;
left: 4em;
top: 3em;
float: left; 
}
